<div class="sidebar">

  <div class="logo">
    ExpenseAI
  </div>

  <div class="menu">

    <div class="item active">
      <i class="fa-solid fa-chart-column fa-xl" style="color: #475569;"></i>
      Dashboard</div>
    <div class="item">
      <i class="fa-solid fa-upload fa-xl" style="color: #475569;"></i>
      Upload</div>
    <div class="item">
      <i class="fa-solid fa-history fa-xl" style="color: #475569;"></i>
      History</div>
    <div class="item">
      <i class="fa-solid fa-chart-bar fa-xl" style="color: #475569;"></i>
      Reports</div>
    <div class="item">
      <i class="fa-solid fa-cog fa-xl" style="color: #475569;"></i>
      Settings</div>

  </div>

  <button class="new-btn">
    + New Expense
  </button>

</div>