<div class="container">
  

  <div class="layout">

  

  <!-- MAIN -->
  <main class="main-content">


    <!-- STATS -->
    <app-stat-card>

    </app-stat-card>


    <app-recent-table>
      
    </app-recent-table>

    <!-- FACTURAS 
    <section class="history">

      <div class="section-title">
        <h2>Historial de Facturas</h2>
      </div>

      <div class="factura-card" *ngFor="let factura of facturas">

        <div class="factura-head">
          <div>
            <h3>{{ factura.tienda }}</h3>
            <small>{{ factura.fecha }}</small>
          </div>

          <div class="price">
            $ {{ factura.total | number }}
          </div>
        </div>

        <div class="meta">
          Método de pago: {{ factura.metodo_pago }}
        </div>

        <div class="items">

          <div class="item-row" *ngFor="let item of factura.items">
            <span>{{ item.description }}</span>
            <strong>$ {{ item.valor | number }}</strong>
          </div>

        </div>

      </div>

    </section> -->

    <!-- LOADER -->
    <div class="loader" *ngIf="cargando">
      Procesando OCR...
    </div>

  </main>

</div>
 